.control-button {
    position: fixed;
    height: 40px;
    width: 45px;
    right: 40px;
    bottom: 25px;
    border-radius: 5px;
    border: none;
    color: rgba(255, 255, 255, 0.479);
    background: rgba(128, 128, 128, 0.692);
    box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.733);
}

.control-button:hover {
    color: white;
    box-shadow: 0 0 10px 0 white;
}

a {
    color: rgba(255, 255, 255, 0.479);
    text-decoration: none;
}

a:hover {
    color: white;
}

.text_blue {
    color: rgb(11, 174, 238);
}

.link__color_white {
    color: white;
}